<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lop.androidnote">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".tim.LoginActivity"></activity>
        <activity android:name=".tim.MainTimActivity" />
        <activity android:name=".js.ActivityJavaWithJs" />
        <activity android:name=".ActivityEnterAnim" />
        <activity android:name=".lazyload.ActivitySetMaxLifecycleExam" />
        <activity android:name=".lazyload.ActivityLazyLoad" />
        <activity android:name=".intentservice.HandlerThreadActivity" />
        <activity android:name=".file.MainFileActivity" />
        <activity android:name=".net.okhttp.MainOkhttpActivity" />
        <activity android:name=".net.MainNetActivity" />
        <activity android:name=".animation.ObjectAnimationActivity" />
        <activity android:name=".animation.TweenAnimationActivity" />
        <activity android:name=".animation.MainAnimationActivity" />
        <activity android:name=".custom.tools.CustomViewToolsActivity" />
        <activity android:name=".custom.MainCustomActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="source"
            android:value="1001" />

        <service android:name=".intentservice.MyIntentService" />
    </application>

</manifest>